//fonts
//font-family: 'Montserrat', sans-serif;
//font-family: 'Open Sans', sans-serif;


*{
    margin: 0;
    padding: 0;
}

header{
    padding: 20px;
    height: 40px;
    border: none;
}

.container{
    width: 1000px;
    margin: auto;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 120px;
    position: relative;
    top: -18px;
}

.list{
    list-style: none;
    font-family: 'Open Sans300', sans-serif;
    & li{
        padding: 10px;        
        justify-content: space-around;

    }

    & a{
        text-decoration: none;
    }
}

main{
    background-color: rgb(229, 228, 228);
    padding: 40px;

    & .bg-image{
        height: 180px;
    }

    & .title{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #f12c0e;
        text-align: center;
        padding: 15px;

    }

    & .middle{
        margin: auto;
        margin-left: 70px;
        padding: 10px;
        background-color: white;

    }

    & .description{
        font-family: 'Open Sans600', sans-serif;
        font-weight: 10px;
        font-size: 14px;
        width: 430px;
        text-align: center;
        padding: 15px;

    }
}